header {
  background: #1976D2;
  /* background: #9F0000; */
  background-image: url('../assets/css/popcorn-banner.jpg');
  color: white;
  /* color: #FCFCFC; */
  padding: 30px;
  text-align: center;
  /* text-align: right; */
}

/*
app-movies {
  display: block;
  max-width: 1200px;
  min-height: 80vh;
  padding: 20px 0;
  margin: auto;
}
*/
