<h2>My Movies</h2>
<article id="movies">
  <!--
  In the movies component HTML file, we will set a routerLink attribute on our
  movies *ngFor loop.
  This will have a value of ”/detail/{{movie.id}}” which will allow us to
  interpolate our current movie’s id property into the URL so that when the user
  clicks on the movie it will go to this specific movie’s path and load
  their details.
  -->
  <!-- <section *ngFor="let movie of movies" (click)="onSelect(movie)" class="movie" [class.selected]="movie === selectedMovie"> -->
  <section class="movie" *ngFor="let movie of movies" routerLink="/detail/{{movie.id}}">
    <h1>{{ movie.name }}</h1>
    <img src="../assets/img/{{movie.image}}" alt="{{movie.name}}">
  </section>
</article>

<!--
We will also include a new custom element tag called <app-movie-detail> which
will load the component will be used to display and edit the details of
a single movie.
-->
<!-- <app-movie-detail [movie]="selectedMovie"></app-movie-detail> -->
